.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  max-width: 24rem;
  padding: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
}